<a href="https://colab.research.google.com/github/KARTHIKEYANK34/AIML_Course_KarthikeyanK/blob/main/Assignment_1_AI_AML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.A financial analyst stores monthly revenues in a list: [120000, 135000, 128000,
142000, 150000]. Find the difference between the highest and lowest revenue without
using loops.

In [1]:
Revenues=[120000, 135000, 128000, 142000, 150000]
difference = max(Revenues)-min(Revenues)
print("the difference between the highest and lowest revenue:", difference)

the difference between the highest and lowest revenue: 30000

2. Given the tuple account = ('Asha', 'Savings', 56000, 'KCH'), unpack the values into
separate variables and print a formatted string: 'Asha has ₹56000 in her Savings
account (Branch: KCH)'.

In [2]:
account = ('Asha','Savings',56000,'KCH')
name, account_type, balance, branch = account
print(f'{name} has{balance} in her {account_type} account (Branch: {branch})')

Asha has56000 in her Savings account (Branch: KCH)

3. Convert the list of string numbers ['45000', '56000', '38000'] to integers and find
their average balance.

In [3]:
string_numbers = ['45000', '56000', '38000']
int_numbers = [int(num) for num in string_numbers]

In [4]:
average_balance = sum(int_numbers) / len(int_numbers)
print("Average Balance:", average_balance)

Average Balance: 46333.333333333336

4.Create a list with elements: ['Kochi', 'Chennai', 'Mumbai', 'Delhi', 'Pune']. Replace 'Delhi' with 'Hyderabad' and print the new list in reverse order using slicing.

In [5]:
K1=['Kochi','Chennai','Mumbai','Delhi','Pune']

In [6]:
print(K1)

['Kochi', 'Chennai', 'Mumbai', 'Delhi', 'Pune']

In [7]:
K1.index('Delhi')

3

In [8]:
K1

['Kochi', 'Chennai', 'Mumbai', 'Delhi', 'Pune']

In [10]:
K1[::-1]

['Pune', 'Delhi', 'Mumbai', 'Chennai', 'Kochi']

5.You have two tuples: interest_2024 = (7.1, 7.3, 7.2) and interest_2025 = (7.4, 7.5). Combine them and print the average of all interest rates.

K1=(7.1,7.3,7.2)
K2=(7.4,7.5)
K3=sum(K1+K2)/len(K1+K2)
print(N"The average of all interest rates is: {K3:.2N}")

In [13]:
t1=(7.1,7.3,7.2)
t2=(7.4,7.5)
t3=sum(t1+t2)/len(t1+t2)
print(f"The average of all interest rates is: {t3:.2f}")

The average of all interest rates is: 7.30

6.A string variable branch_id = 'TVM-FIN-2025'. Extract the branch code (first three letters) and the year (last four digits).

In [16]:
K11='TVM-FIN-2025'
K1[:3]
K1[-4:]
print(f"The branch code is: {K1[:3]} and the year is: {K1[-4:]}")

The branch code is: (7.1, 7.3, 7.2) and the year is: (7.1, 7.3, 7.2)

7.Create a list transactions = [10000, -2000, 5000, -1500, 3000]. Without using loops, find total deposits and withdrawals using list slicing or indexing only.

In [17]:
transactions = [10000, -2000, 5000, -1500, 3000]

total_deposits = sum(transactions[0:1]) + sum(transactions[2:3]) + sum(transactions[4:5])
total_withdrawals = sum(transactions[1:2]) + sum(transactions[3:4])
print(f"Total Withdrawals: {abs(total_withdrawals)}")

Total Withdrawals: 3500



    8.Given name = 'John Doe' and balance = 72500, print a message in title case stating 'John Doe has a balance of ₹72500'. Ensure no type errors occur.

In [18]:
Name='John Doe'
Balance=72500
print(f"{Name} has a balance of ₹{Balance}")

John Doe has a balance of ₹72500

9.A tuple customer = ('Kiran', 'Loan', 80000, 7.5). Calculate and print the total amount payable after 1 year if interest is simple interest based on rate 7.5%

In [19]:
customer = ('Kiran', 'Loan', 80000, 7.5)
principal = customer[2]
interest_rate = customer[3]
time = 1
interest = principal * (interest_rate / 100) * time
total_amount = principal + interest
print(f"The total amount payable after one year is: {total_amount:.2f}")

The total amount payable after one year is: 86000.00



    10.Create two lists – branches = ['Kochi', 'Chennai', 'Mumbai'] and profits = [120000, 95000, 134000]. Form a new list of tuples pairing each branch with its profit.

In [20]:
K1 = ['Kochi', 'Chennai', 'Mumbai']
K2 = [120000, 95000, 134000]
K3 = [(K1[0], K2[0]),(K1[1], K2[1]),(K1[2], K2[2])]
print(K3)

[('Kochi', 120000), ('Chennai', 95000), ('Mumbai', 134000)]

11.From a list salaries = [45000, 56000, 38000, 62000, 54000], extract the top three salaries using slicing only

In [21]:
K1=[45000,56000,38000,62000,54000]
K1.sort(reverse=True)
K1[:3]

[62000, 56000, 54000]

12.Given the tuple exchange_rates = (83.2, 83.1, 83.5, 83.0, 82.9), convert it into a list and change the third value to 84.0.

In [23]:
K1=(83.2,83.1,83.5,83.0,82.9)
l1=list(K1)
l1[2]=84.0
print(l1)

[83.2, 83.1, 84.0, 83.0, 82.9]

13.Combine two lists customer_names = ['Asha', 'John', 'Meera'] and balances = [56000, 72000, 65000] into a formatted string such as 'Asha:56000, John:72000, Meera:65000' without loops.

In [24]:
K1=['Asha','John','Meera']
K2=[56000,72000,65000]
print(f"{K1[0]}:{K2[0]}, {K1[1]}:{K2[1]}, {K1[2]}:{K2[2]}")

Asha:56000, John:72000, Meera:65000

14.Given account_info = (Deepa, 'Savings', 98000), use string formatting to print a sentence 'Account Holder Deepz has ₹98000 in Savings account'.

In [25]:
K1=('Deepa','Savings',98000)
print(f"Account Holder {K1[0]} has ₹{K1[2]} in {K1[1]} account")

Account Holder Deepa has ₹98000 in Savings account

15.Create a nested list storing branch names and their monthly collections: [['Kochi', [120000, 135000]], ['Chennai', [95000, 110000]]]. Print only the collection of Chennai branch without using loops.

In [27]:
K1=['Kochi',[12000,135000]],['Chennai',[95000,110000]]
K2=K1[1][1]
print(f'The collection of chennai branch is {K2}')

The collection of chennai branch is [95000, 110000]